html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 99%;
    background-color: black;
    color: white;
}
div{
    width: 40%;
    height: 100%;
    background-image: url('../Background.png');
    margin: auto;
    padding: 10px;
    border:3px solid grey;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    height:inherit;
    width: fit-content;
    position: relative;
}
a{
    padding: 50px 25px;
    border-radius: 20%;
    font-family:"Amatic SC";
    font-size: 300%;
    font-weight:100;
    color:black;
}
#blue{
    background-color: royalblue;
    border: 5px solid cornflowerblue;
    position:absolute;
    top: 68%;
    left: 59%;
    z-index:100;
}
#red{
    background-color:red;
    border: 5px solid darkred;
    position:absolute;
    top: 68%;
    left: 36%;
}
#amongus{
    background-image: url('../Amoguscropped.png');
    height: 50%;
    width: 40%;
background-repeat: no-repeat;
    position: absolute;
    left: 42%;
    top: 35%;
}