html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    background-color: black;
    color: white;
}
div{
    width: 60%;
    height: 100%;
    background-image: url('../Background.png');
    margin: auto;
    padding: 10px;
    border:3px solid green;
    background-repeat: no-repeat;
}
img{
    height:inherit;
    width: fit-content;
    position: relative;
}
a{
    background-color: royalblue;
    padding: 30px 20px;
    border: 5px solid cornflowerblue;
    border-radius: 20%;
    position: relative;
    top: 50%;
    font-family:"Amatic SC";
    font-size: 300%;
    font-weight:100;
    color:black;
}